*{
    margin:0;
    padding:0;

}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    width:100%;
}

  /* Navigation Bar */
  
  #home {
    background-color:  #222;
    padding: 0.5% 0 0.5% 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    vertical-align: middle;
   }
  
   .topdiv {
    float:right;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: middle;

  }

  .topmenu {
    color: #f00;
    margin-right: 15px;
    padding-right: 0px;
    font-size: 14px;
    text-decoration:none;
    vertical-align: middle;

  }
  
  .topmenu:hover {
    color: yellow;
    font-weight:bolder;
    text-decoration: underline;
    /* Add the styles here */
  }
  
  .profile_name {
    float: left;
    padding-left: 2%;
    color: #f00;
    font-size: 40px;
  }
  
  .profile_name .contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  
  .contact_info svg {
    width:25px;
    margin-right: 10px;
    float:left;
    fill:#ffffff;
  }
  
/* About Me */
  
#about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 2% 0 2% 0;
    width: 102%;
    height: fit-content;
    vertical-align: middle;
    flex-direction: row;
    text-align: center;
}
  
.profile_image {
    width: fit-content;
    margin: 20% 1% 1% 5%;
}

#about-me h1 {
    font-size: 330%;
    color:#f00;
    margin-top: 2%;
    margin-left: 6%;
}
  
#about-me p {
    font-size: 115%;
    color:#fff;
    margin: 3% 20% 0 6%;
    text-wrap: wrap;
}

h2{
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 3% 0 2% 0;
}
  
.introduction {
    text-align: justify;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
}
  


  /* Skills */

#skills{
    background-color: #444;
    width:100%;
}

.all_skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    padding-bottom: 3%;
}
  
.skill {
    border: 3px solid black;
    background-color: white;
    display: block;
    border-radius: 1vw;
    text-align: center;
    margin: 2% 4%;
    padding: 0.6% 1% 2% 1%;
    width: 12%;
    box-shadow: 0 3px 20px white;
}
  
.skill svg {
    width: 80%;
    padding-top: 15%; 
}
  
.skill h6 {
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
  
  
  
  /* Projects */

#projects{
    background-color: #000;
    padding-bottom: 3%;
    width:100%;
}
  
.projects-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    place-items: center;

}
  
.project-card {
    width: fit-content;
    height: fit-content;
    padding: 2% 2% 1% 2%;
    margin: 2% 0%;
    border: 3px solid black;
    color:#fff;
    background-color: white;
    display: block;
    border-radius: 1vw;
    text-align: center;
    box-shadow: 0 3px 20px white; 
    place-content: center;

}

.image {
    width:auto;
    height:50vh;
    border-radius: 1vw;
    border: 3px solid black;
    margin: 1% 0 0 0;
}
  
.project-card h3 {
    font-size: 26px;
    text-align: center;
    color:red;
    margin: 1% 0% 1% 0%;
    padding: 1% 0;
    border: 3px solid red;
    background-color: #000;
    border-radius: 1vw;

}


.project-card p {
    text-align: justify;
    text-align: center;
    font-size: 16px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin: 1% 1% 0 1%;
    padding: 2% 0%;
    background-color: #222;
    color: #fff;
    border-radius: 10%;
    border: 3px solid red;
    display:inline-block;   
    width:10vw;
    height:3vh;

} 

/* CONTACT */

#contacts{
    background-color: #444;
    padding-bottom: 3%;
    width:100%;
}
  
.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    padding-bottom: 3%;

}
  
.contact-card {
    border: 3px solid black;
    background-color: white;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin: 2% 5% 0% 5%;
    height:30%;
    width:auto;
    box-shadow: 0 3px 20px white;

}

.contact-svg {
    color:#f00;
    height:15vh;
    padding: 5vh;
    width:auto;
}


  /* Recommendations */

#recommendations{
    background-color: #000;
    padding-bottom: 3%;
    width: 100%;
}

.all_recommendations {
    display: flex;
    align-items: center;
    margin-left: 10%;
    flex-direction: column;
    flex-flow: wrap;
    padding: 2%;
}
  
.recommendation {
    font-style: italic;
    text-align: justify;
    width: 32%;
    padding: 3%;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 15px white;
    margin: 2% 4% 1% 4%;
    border:3px solid black;
    font-size: 17px;
    height:30vh;

}
  

  
  
  /* Form Pop-up */
  
  .popup {
    width:400px;
    background-color: #000;
    border-radius: 3mm;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: fixed;
    /* padding: 30px; */
    visibility: hidden;
  }
  
  .popup img {
    padding-top: 20px;
  }
  
  .popup button {
    background-color: #fff;
    border: 1px solid #7600bc;
    color: #7600bc;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    margin-left: 25%;
  }
  
  .popup button:hover {
    background-color: #fff;
    border: 2px solid #7600bc;
    color: #7600bc;
    display: block;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-left: 25%;
  }
  
  
/* LEAVE A RECOMMENDATION */

.flex_center {
    display: flex;
    flex-direction:column;
    background-color: #000;
    place-items: center;
    text-align: center;
}

fieldset > h2{
    color:#f00;
    padding: 0 4% 0 4%;
}

fieldset {
    padding: 4%; 
    width: 40%;
    margin-bottom: 5%;
    background-color: #000;
    text-align: center;

}

input, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin: 10px;  
    width:100%;
    
}
  
  /* Buttons */
  
  button {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: red;
    border: 1px solid red;
    color: #fff;
    display: block;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  }

  /* Scroll to Top Button */
  
  .iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }
  